<div class="advantages">
	<div class="container">
	<div class="row">
		<div class="h3">наши преимущества</div>	
		<div class="col">
			<div class="number">
				01
			</div>
			<div class="content">
				<div class="name">
					Качество работы
				</div>
				<div class="text">
					Текст текст текст текст текст,
					Текст текст текст текст текст,
					Текст текст текст текст текст,
				</div>
			</div>
		</div>
		<div class="col">
			<div class="number">
				02
			</div>
			<div class="content">
				<div class="name">
					Качество работы
				</div>
				<div class="text">
					текст текст текст. 
					Текст текст текст текст текст,
				</div>
			</div>
		</div>
		<div class="col">
			<div class="number">
				03
			</div>
			<div class="content">
				<div class="name">
					Качество работы
				</div>
				<div class="text">
					Текст текст текст текст.
					Текст текст текст текст текст,
				</div>
			</div>
		</div>
	</div>
		
	</div>
</div>