<header class="header">
	<div class="container">
		<div class="top__box">
		<div class="inner">
			<div class="left">
				<a href="/" class="logo">
					<i class="icon-logo"></i>
				</a>
			</div>
			<div class="right">
				<ul>
					<li><a href="#">Портфолио</a></li>
					<li><a href="#">Оформить заказ</a></li>
					<li><a href="#">Прайс-лист</a></li>
				</ul>
			</div>
		</div>
		</div>
		<div class="header__bottom">
			<div class="col">1</div>
			<div class="col">
			<div class="inner">
				<div id="slider">
					<div class="slide"><img src="/img/Flyer-In-Box-1.jpg" alt=""></div>
					<div class="slide"><img src="/img/Flyer-In-Box-2.jpg" alt=""></div>
					<div class="slide"><img src="/img/Flyer-In-Box-3.jpg" alt=""></div>
					<div class="slide"><img src="/img/Flyer-In-Box-1.jpg" alt=""></div>
					<div class="slide"><img src="/img/Flyer-In-Box-2.jpg" alt=""></div>
					<div class="slide"><img src="/img/Flyer-In-Box-3.jpg" alt=""></div>
				</div>
			</div>
				
			</div>
		</div>
	</div>
</header>