<div class="order">
	<div class="container">
		<div class="row">
			<div class="col">
				<div class="h3">ОФОРМИТЬ ЗАКАЗ</div>
				<p>Praesent vitae eros eget tellus <a href="#">скачайте и заполните бриф</a>. Donec rutrum sed sem quis venenatis. </p>
				<br> 
				<p>Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit Lorem ipsum dolor sit amet. </p>
				<p>Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit Lorem ipsum dolor sit amet. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit Lorem ipsum dolor sit amet. Donec rutrum sed sem quis venenatis.</p>
				<p>Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit Lorem ipsum dolor sit amet. Donec rutrum sed sem quis venenatis. Proin viverra risus a eros volutpat tempor. In quis arcu et eros porta lobortis sit Lorem ipsum dolor sit amet. Donec rutrum. </p>
			</div>
			<div class="col">
				<div class="form">
					<form action="">
						<div class="input-group">
							<input type="text" placeholder="Ваше имя*">
						</div>
						<div class="input-group">
							<input type="text" placeholder="Электроная почта*">
						</div>
<div class='file-input'>
  <input type='file'>
  <span class='button'>ВЫБЕРИТЕ ФАЙЛ</span>
  <span class='label' data-js-label>Загрузите бриф</label>
</div>
						<div class="input-group">
							<textarea name="" id="" cols="20" rows="5" placeholder="Сообщение"></textarea>
						</div>
						<div class="input-group">
							<input type="submit" value="Отправить сообщение">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>