<div class="portfolio">
	<div class="container">
			<h3>ПОРТФОЛИО</h3>
			<div class="sub-title">Дизайн афиш / Дизайн БАННЕРОВ / Дизайн плакатов / Дизайн листовок / ДИЗАЙН БИЛЕТОВ</div>
			<div class="row">
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-1.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-2.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-3.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-4.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-5.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-6.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-7.jpg" alt="">
						</div>
					</div>
					<div class="item">
						<div class="box">
							<img src="/img/img-flyer-mockup-8.jpg" alt="">
						</div>
					</div>
			
			</div>
			<p class="center">
				Больше работ Вы можете посмотреть на <a href="">этой странице!</a>
			</p>	
	</div>
</div>