<div class="socials">
	<div class="container">
		<div class="inner">
			<p>
				Для получения более подробной информации о наших услугах, пожалуйста,
напишите нам в социальных сетях или на почту
			</p>
			<div class="row">
				<div class="share">
					<ul>
						<li><a href=""><i class="icon-vk"></i></a></li>
						<li><a href=""><i class="icon-instagram"></i></a></li>
						<li><a href=""><i class="icon-facebook"></i></a></li>
						<li><a href="mailto:en.kashuba@gmail.com">en.kashuba@gmail.com</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>